.products .wrapper {
  background-color: var(--black-color);
}

.products .nav-tabs {
  border: 0;
  justify-content: center;
}

.products .nav-tabs .nav-link {
  display: block;
  padding: 0 30px;
  border: 1px solid var(--white-color);
  border-radius: 20px;
  background-color: var(--black-color);
  color: var(--white-color);
  height: 36px;
  margin: 10px;
  line-height: 34px;
  text-transform: uppercase;

}

.products .product-info .cat-parent,
.products .product-info .wishlist i {
  font-size: 0.875rem;
  color: var(--white-color);
  opacity: 0.6;
  text-transform: uppercase;
}

.products .product-title a {
  margin: 0 0 7px;
  display: block;
  color: var(--white-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
}

.products .rating i {
  color: #f4d632
}

.basket a i {
  color: var(--white-color);
}

#products {
  background-color: black;
}

.item-product1 {
  margin: 2px 10px;

}

.block {
  margin: 16px 41px 0px 71px;
}